<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo</title>
    <link href="style.css" rel="stylesheet" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>

<body>

    <div class="container" id="app">
        <input type="text" v-model="enteredGoal">
        <button type="button" v-on:click="addGoal">Add Task</button>
        <p> {{enteredGoal}} </p>
        <div class="taskContainer">
            <ul>
                <li v-for="goal in goals">{{ goal }}</li>
            </ul>
        </div>
    </div>

    <script src="script.js" defer></script>
</body>

</html>